{% extends 'base.html.twig' %}

{% block title %}
Derniers stages ajoutés
{% endblock %}

{% block contenu %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
<img src="{{asset('prostages.jpg')}}" alt="Saisissez la clef !" />

<h3> Vous trouverez ici les derniers stages ajoutés. Les autres onglets vous permettront de faire une recherche par entreprise ou par formation.</h3> 


		
		{% set debutNouvelleLigne = true %}
		
		{% for stageCourant in stages %}
		
		{#si on est en début de ligne, créer un compsoant card-deck #}
		{% if debutNouvelleLigne == true %}
		<div class=card-deck">
		{% set debutNouvelleLigne = false %}
		{% endif %}
		
		{# afficher une carte pour le stage courant#}
			<div class="card">
				<h5 class="card-header">  	{{stageCourant.titre}} 	</h5>
				
				<div class="card-body">
					<p class="card-text"> 
<small class="text_muted"> <u> Date d'ajout : </u>{{stageCourant.dateAjout | date("d/m/Y")}}  </small>  </p>
                    <p class="card-text"> <b> Entreprise : </b>	{{stageCourant.entreprise.nom}} </p>
					<p class="card-text"> <b>Missions : </b>{{stageCourant.description}}  </p>
					<p class="card-text"> <b>Date de début de stage : </b>{{stageCourant.dateDebut | date("d/m/Y")}}</p>
					<p class="card-text"> <b>Date de fin de stage : </b>{{stageCourant.dateFin | date("d/m/Y")}}  </p>
					
					
					<p class="card-text"> <b> Email de contact : </b> {{stageCourant.emailContact}} </p>
					
					
					
				</div>
				
			</div>
			
			{# vérifier s'il faut passer à la ligne suivante (tous les trois stages) #}
			
			{%if loop.index %3 ==0 %}
			</div>
			<br />
				{% set debutNouvelleLigne = true %}
				{% endif %}
			
			{% endfor %}

{% endblock %}
